<template>
	<div>
		<b-form @submit.prevent="onSubmit">
			<b-container fluid>
				<b-card>
					<b-row align-v="center">	
						<b-col sm="2" class="font-weight-bold">
							Notification Detail
						</b-col>
						<b-col sm="8">
							<b-button-group class="float-right">
								<b-button type="submit" style="margin-right:5px;">Save</b-button>
								<b-button style="margin-right:5px;">Cancel</b-button>
								<b-button style="margin-right:5px;">QA</b-button>
								<b-button>LIVE</b-button>
							</b-button-group>
						</b-col>
					</b-row>
				</b-card>
				<div style="margin-top:30px;" class="font-weight-bold">Notification Bar</div>
				<b-card style="margin-top:10px;">
					<b-row style="margin-top:5px;" align-v="center">
						<b-col sm="2">
							<label class="font-weight-bold">Type *</label>
						</b-col>
						<b-col sm="8">
							<b-form-radio-group v-model="detail.b2cTypeBv" :state="validateState('b2cTypeBv')" @change="changeNoticeType($event, getSiteCode)">
								<b-form-radio value="1">B2C</b-form-radio>
								<b-form-radio value="2">B2B</b-form-radio>
							</b-form-radio-group>
							<b-form-invalid-feedback>
			        			Type is required
			        		</b-form-invalid-feedback>
						</b-col>
					</b-row>
					<b-row style="margin-top:5px;" align-v="center">
						<b-col sm="2">
							<label class="font-weight-bold">Notification Use *</label>
						</b-col>
						<b-col sm="8">
							<b-form-radio-group v-model="detail.noticeUseFlag" :state="validateState('noticeUseFlag')">
								<b-form-radio value="Y">Yes</b-form-radio>
								<b-form-radio value="N">No</b-form-radio>
							</b-form-radio-group>
							<b-form-invalid-feedback>
			        			Notification Use is required
			        		</b-form-invalid-feedback>
						</b-col>
					</b-row>
					<b-row style="margin-top:5px;" align-v="center">
						<b-col sm="2">
							<label class="font-weight-bold">Open Headline *</label>
						</b-col>
						<b-col sm="8">
							<b-form-input v-model="$v.detail.noticeTitle.$model" :state="validateState('noticeTitle')"></b-form-input>
							<b-form-invalid-feedback>
			        			Open Headline is required
			        		</b-form-invalid-feedback>
						</b-col>
					</b-row>
					<b-row style="margin-top:5px;" align-v="center">
						<b-col sm="2">
							<label class="font-weight-bold">Close Desktop Headline *</label>
						</b-col>
						<b-col sm="8">
							<b-form-input v-model="$v.detail.noticeTitleDesktopClose.$model" :state="validateState('noticeTitleDesktopClose')"></b-form-input>
							<b-form-invalid-feedback>
			        			Close Desktop Headline is required
			        		</b-form-invalid-feedback>
						</b-col>
					</b-row>
					<b-row style="margin-top:5px;" align-v="center">
						<b-col sm="2">
							<label class="font-weight-bold">Close Mobile Headline *</label>
						</b-col>
						<b-col sm="8">
							<b-form-input v-model="$v.detail.noticeTitleMobileClose.$model" :state="validateState('noticeTitleMobileClose')"></b-form-input>
							<b-form-invalid-feedback>
			        			Close Mobile Headline is required
			        		</b-form-invalid-feedback>
						</b-col>
					</b-row>
					<b-row style="margin-top:5px;" align-v="center">
						<b-col sm="2">
							<label class="font-weight-bold">Open Description</label>
						</b-col>
						<b-col sm="8">
							<b-form-input v-model="item.noticeText"></b-form-input>
						</b-col>
					</b-row>
					<b-row style="margin-top:5px;" align-v="center">
						<b-col sm="2">
							<label class="font-weight-bold">CTA Text *</label>
						</b-col>
						<b-col sm="8">
							<b-form-input v-model="$v.detail.ctaText.$model" :state="validateState('ctaText')"></b-form-input>
							<b-form-invalid-feedback>
			        			CTA Text Headline is required
			        		</b-form-invalid-feedback>
						</b-col>
					</b-row>
					<b-row style="margin-top:5px;" align-v="center">
						<b-col sm="2">
							<label class="font-weight-bold">CTA English Text *</label>
						</b-col>
						<b-col sm="8">
							<b-form-input v-model="$v.detail.ctaEnglishText.$model" :state="validateState('ctaEnglishText')"></b-form-input>
							<b-form-invalid-feedback>
			        			CTA English Text is required
			        		</b-form-invalid-feedback>
						</b-col>
					</b-row>
					<b-row style="margin-top:5px;" align-v="center">
						<b-col sm="2">
							<label class="font-weight-bold">CTA Title</label>
						</b-col>
						<b-col sm="8">
							<b-form-input v-model="item.ctaTitle"></b-form-input>
						</b-col>
					</b-row>
					<b-row style="margin-top:5px;" align-v="center">
						<b-col sm="2">
							<label class="font-weight-bold">CTA URL *</label>
						</b-col>
						<b-col sm="8">
							<b-form-input v-model="$v.detail.ctaUrl.$model" :state="validateState('ctaUrl')"></b-form-input>
							<b-form-invalid-feedback>
			        			CTA URL is required
			        		</b-form-invalid-feedback>
						</b-col>
					</b-row>
					<b-row style="margin-top:5px;" align-v="center">
						<b-col sm="2">
							<label class="font-weight-bold">Window Style</label>
						</b-col>
						<b-col sm="8">
							<b-form-select v-model="detail.linkTypeCode">
								<option value="MOVE">MOVE</option>
								<option value="NEW">NEW</option>
							</b-form-select>
						</b-col>
					</b-row>
				</b-card>
				<div style="margin-top:30px;" class="font-weight-bold">Notification Mapping</div>
				<b-card style="margin-top:10px;">
					<b-row style="margin-top:5px;" align-v="center">
						<b-col sm="2">
							<label class="font-weight-bold">Langauge</label>
						</b-col>
						<b-col sm="8">
							<language-component :languageList="item.languageList" :siteCode="getSiteCode" :type="detail.b2cTypeBv"/>
						</b-col>
					</b-row>
					<b-row style="margin-top:5px;" align-v="center">
						<b-col sm="2">
							<label class="font-weight-bold">Product IA Group</label>
						</b-col>
						<b-col sm="8">
							<b-input-group style="width:320px;">
								<category-component :depthLevel="item.depthLevel" :siteCode="getSiteCode" :type="detail.b2cTypeBv" :language="detail.language" :iaList="item.iaList" :iaTypeList="item.iaTypeList" :iaSubTypeList="item.iaSubTypeList"/>
							</b-input-group>
						</b-col>
					</b-row>
				</b-card>
			</b-container>
		</b-form>
	</div>
</template>

<script>
import { validationMixin } from "vuelidate";
import { required, minLength } from "vuelidate/lib/validators";
import { mapGetters } from 'vuex';
import LeftMenuMixin from '../../utils/common/LeftMenuMixin.js';
import LanguageComponent from '../../components/noticebar/LanguageComponent.vue';
import CategoryComponent from '../../components/noticebar/CategoryComponent.vue';

export default {
	mixins: [validationMixin, LeftMenuMixin],
	computed : {
		...mapGetters('leftMenuStore', ['getSiteCode']),
	},
	components : {
		LanguageComponent,
		CategoryComponent,
	},
	data() {
		return {
			detail : {
				b2cTypeBv : '1',
				noticeUseFlag : 'Y',
				noticeTitle : '',
				noticeTitleDesktopClose : '',
				noticeTitleMobileClose : '',
				noticeText : '',
				ctaText : '',
				ctaEnglishText : '',
				ctaTitle : '',
				ctaUrl : '',
				linkTypeCode : 'MOVE',
				iaCode : '',
				iaEnglishName : '',
				depthLevel : 1,
				language : 'L',
			}
		}
	},
	validations: {
		detail: {
			b2cTypeBv: {
				required,
			},
			noticeUseFlag: {
				required,
			},
			noticeTitle: {
				required,
			},
			noticeTitleDesktopClose: {
				required,
			},
			noticeTitleMobileClose: {
				required,
			},
			ctaText: {
				required,
			},
			ctaEnglishText: {
				required,
			},
			ctaUrl: {
				required,
			},
		}
	},
	created() {			
		const data = {
			noticeId : this.$route.query.noticeId,	
		};
		this.$store.dispatch('noticeBarStore/FETCH_NOTICE', data)
			.then(response => {
				this.detail.b2cTypeBv = JSON.parse(response.data.d).b2cTypeBv;
				this.detail.noticeTitle = JSON.parse(response.data.d).noticeTitle;
				this.detail.noticeTitleDesktopClose = JSON.parse(response.data.d).noticeTitleDesktopClose;
				this.detail.noticeTitleMobileClose = JSON.parse(response.data.d).noticeTitleMobileClose;
				this.detail.noticeText = JSON.parse(response.data.d).noticeText;
				this.detail.ctaText = JSON.parse(response.data.d).ctaText;
				this.detail.ctaEnglishText = JSON.parse(response.data.d).ctaEnglishText;
				this.detail.ctaTitle = JSON.parse(response.data.d).ctaTitle;
				this.detail.ctaUrl = JSON.parse(response.data.d).ctaUrl;
				this.detail.linkTypeCode = JSON.parse(response.data.d).linkTypeCode;
				
				const iaData = {
					siteCode : this.getSiteCode,
					iaCode : '00000000',
					level : 1,
					iaTypeCode : this.detail.b2cTypeBv === '1' ? 'IA002' : 'IA003',
					language : this.detail.language,
				};
				this.initIaList(iaData);
			})
			.catch(error => console.log(error));
	},
	methods : {
		validateState(name) {
			const { $dirty, $error } = this.$v.detail[name];
			return $dirty ? !$error : null;
		},
		changeNoticeType(value, siteCode) {
			this.detail.b2cTypeBv = value;
			
			const data = {
				siteCode,
				iaCode : '00000000',
				level : 1,
				iaTypeCode : this.detail.b2cTypeBv === '1' ? 'IA002' : 'IA003',
				language : this.detail.language,
			};
			this.initIaList(data);
		},
		onSubmit() {
			this.$v.detail.$touch();
			if (this.$v.detail.$anyError) {
				return false;
			}
		},
	}
}
</script>

<style scoped>
</style>
