<template>
	<div>
		<div v-if="this.$route.name === 'noticedetail'">
			<router-view/>
		</div>
		<div v-else>
			<b-button ref="search" :style="getSlidePosition" v-b-toggle.sidebar-1>Search</b-button>
			<b-button ref="register" style="margin-left:10px;margin-top:20px;">Register</b-button>
			<leftMenu-component 
				:siteCodeList="item.siteCodeList" 
				:typeList="item.typeList" 
				:shown="item.shown" 
				:languageList="item.languageList" 
				depthLevel="2" 
				:iaCode="item.iaCode" 
				:iaTypeCode="item.iaTypeCode" 
				:iaSubTypeCode="item.iaSubTypeCode" 
				:iaList="item.iaList" 
				:iaTypeList="item.iaTypeList" 
				:iaSubTypeList="item.iaSubTypeList"
				:keywordTypeList=item.keywordTypeList
				:keywordTitle="item.keywordTitle"
				:siteCode="getSiteCode"
				:language="getLanguage"
				:type="getType"
				:rows="getPerPage"
				:sortBy="getSortBy"
				:sortDesc="getSortDesc"
				:searchIaCode="getSearchIaCode"/>
			<table-component 
				:style="getSlidePosition" 
				:noticeList="getNoticeList" 
				:fields="getFields" 
				:currentPage="getCurrentPage" 
				:siteCode="getSiteCode" 
				:type="getType" 
				:searchIaCode="getSearchIaCode" 
				:noticeId="getNoticeId" 
				:keywordType="getKeywordType" 
				:keywordTitle="getKeywordTitle"
				:rows="getPerPage"
				:sortBy="getSortBy"
				:sortDesc="getSortDesc"/>
		</div>
	</div>
</template>

<script>
import LeftMenuComponent from '../../components/noticebar/LeftMenuComponent.vue';
import TableComponent from '../../components/noticebar/TableComponent.vue';
import { mapGetters } from 'vuex';

import LeftMenuMixin from '../../utils/common/LeftMenuMixin.js';

export default {
	mixins : [LeftMenuMixin],
	components : {
		LeftMenuComponent,
		TableComponent,
	},
	computed : {
		...mapGetters('leftMenuStore', ['getSlidePosition', 
										'getSiteCode', 
										'getLanguage', 
										'getSearchIaCode']),
		...mapGetters('noticeBarStore', ['getType', 
										 'getPerPage', 
										 'getSortBy', 
										 'getSortDesc', 
										 'getNoticeList', 
										 'getFields', 
										 'getCurrentPage', 
										 'getNoticeId', 
										 'getKeywordType', 
										 'getKeywordTitle']),
	},
}
</script>

<style scoped>
</style>
