<template>
	<div>
		<list-view/>
	</div>
</template>

<script>
import ListView from '../../view/noticebar/ListView.vue';

export default {
	components : {
		ListView,
	},
}
</script>

<style scoped>
</style>
