<template>
	<div>
		<b-card bg-variant="light" class="mt-2">
			<b-form-group label="HackersNews" class="text-center">
			</b-form-group>
			<b-form-group label="Category">
	        	<b-input-group>	
	        		<b-form-select :value="getCategoryCode" @input="inputChange('category', $event)" :state="validateState('category')" ref="category">
	        			<option v-for="(item, idx) in getCategories" :key="idx" :value="item.value">{{ item.text }}</option>
	        		</b-form-select>
	        		<b-form-invalid-feedback>
	        			Category is a required field and must be at until 100 characters.
	        		</b-form-invalid-feedback>
	        	</b-input-group>
			</b-form-group>
     		<b-form-group label="Id">
	        	<b-input-group>
	        		<b-form-input :value="getHackersNews.id" @input="inputChange('id', $event)" :state="validateState('id')" @keyup.native="onlyNumber($event)" ref="id">
	        		
	        		</b-form-input>
	        		<b-form-invalid-feedback>
	        			Id is a required field and must be at until 20 characters.
	        		</b-form-invalid-feedback>
	        	</b-input-group>
			</b-form-group>
			<b-form-group label="Title">
	        	<b-input-group>
	        		<b-form-input :value="getHackersNews.title" @input="inputChange('title', $event)" :state="validateState('title')" ref="title">
	        		
	        		</b-form-input>
	        		<b-form-invalid-feedback>
	        			Title is a required field and must be at until 200 characters.
	        		</b-form-invalid-feedback>
	        	</b-input-group>
			</b-form-group>
			<b-form-group label="Points">
	        	<b-input-group>
	        		<b-form-input :value="getHackersNews.points" @input="inputChange('points', $event)" :state="validateState('points')" @keyup.native="onlyNumber($event)" ref="points">
	        		
	        		</b-form-input>
	        		<b-form-invalid-feedback>
	        			Points is a required field and must be at until 10 characters.
	        		</b-form-invalid-feedback>
	        	</b-input-group>
			</b-form-group>
			<b-form-group label="Name">
	        	<b-input-group>
	        		<b-form-input :value="getHackersNews.name" @input="inputChange('name', $event)" :state="validateState('name')" ref="name">
	        		
	        		</b-form-input>
	        		<b-form-invalid-feedback>
	        			Name is a required field and must be at until 20 characters.
	        		</b-form-invalid-feedback>
	        	</b-input-group>
			</b-form-group>
			<b-form-group label="Time">
	        	<b-input-group>
	        		<b-form-input :value="getHackersNews.time" @input="inputChange('time', $event)" :state="validateState('time')" @keyup.native="onlyNumber($event)" ref="time">
	        		
	        		</b-form-input>
	        		<b-form-invalid-feedback>
	        			Time is a required field and must be at until 20 characters.
	        		</b-form-invalid-feedback>
	        	</b-input-group>
			</b-form-group>
			<b-form-group label="Time Ago">
	        	<b-input-group>
	        		<b-form-input :value="getHackersNews.time_ago" @input="inputChange('time_ago', $event)" :state="validateState('time_ago')" ref="time_ago">
	        		
	        		</b-form-input>
	        		<b-form-invalid-feedback>
	        			Time Ago is a required field and must be at until 100 characters.
	        		</b-form-invalid-feedback>
	        	</b-input-group>
			</b-form-group>
			<b-form-group label="Comments Count">
	        	<b-input-group>
	        		<b-form-input :value="getHackersNews.comments_count" @input="inputChange('comments_count', $event)" :state="validateState('comments_count')" @keyup.native="onlyNumber($event)" ref="comments_count">
	        		
	        		</b-form-input>
	        		<b-form-invalid-feedback>
	        			Comments Count is a required field and must be at until 10 characters.
	        		</b-form-invalid-feedback>
	        	</b-input-group>
			</b-form-group>
			<b-form-group label="Type">
	        	<b-input-group>
	        		<b-form-input :value="getHackersNews.type" @input="inputChange('type', $event)" :state="validateState('type')" ref="type">
	        		
	        		</b-form-input>
	        		<b-form-invalid-feedback>
	        			Type is a required field and must be at until 10 characters.
	        		</b-form-invalid-feedback>
	        	</b-input-group>
			</b-form-group>
			<b-form-group label="Url">
	        	<b-input-group>
	        		<b-form-input :value="getHackersNews.url" @input="inputChange('url', $event)" :state="validateState('url')" ref="url">
	        		
	        		</b-form-input>
	        		<b-form-invalid-feedback>
	        			Url is a required field and must be at until 200 characters.
	        		</b-form-invalid-feedback>
	        	</b-input-group>
			</b-form-group>
			<b-form-group label="Domain">
	        	<b-input-group>
	        		<b-form-input :value="getHackersNews.domain" @input="inputChange('domain', $event)" :state="validateState('domain')" ref="domain">
	        		
	        		</b-form-input>
	        		<b-form-invalid-feedback>
	        			Domain is a required field and must be at until 50 characters.
	        		</b-form-invalid-feedback>
	        	</b-input-group>
			</b-form-group>
		</b-card>
	</div>
</template>

<script>
import hackersNewsMixin from '../utils/hackersNewsMixin.js';
import { mapGetters } from 'vuex';
import { validationMixin } from "vuelidate";
import { required, minLength, maxLength } from "vuelidate/lib/validators";

export default {
    mixins : [hackersNewsMixin, validationMixin],
    computed : {
    	...mapGetters(['getHackersNews', 'getCategories']),
    	// data 값을 조작할 경우 computed 에서 처리
    	getCategoryCode() {
    		let code = '01';
			if(this.$route.query.id) {
    			if(this.getHackersNews.category === 'News') {
        			code = '01';
        		} else if(this.getHackersNews.category === 'Ask') {
        			code = '02';
        		} else if(this.getHackersNews.category === 'Jobs') {
        			code = '03';
        		}
			} else {
				code = '01';
			}
			return code;
    	},
    },
    validations: {
        form: {
        	category : {
        		required,
        		minLength: minLength(0),
		        maxLength: maxLength(100),
        	},
			id : {
				required,
				minLength: minLength(0),
		        maxLength: maxLength(20),
			},
			title : {
				required,
				minLength: minLength(0),
		        maxLength: maxLength(200),
			},
			points : {
				required,
				minLength: minLength(0),
		        maxLength: maxLength(10),
			},
			name : {
				required,
				minLength: minLength(0),
		        maxLength: maxLength(20),
			},
			time : {
				required,
				minLength: minLength(0),
		        maxLength: maxLength(20),
			},
			time_ago : {
				required,
				minLength: minLength(0),
		        maxLength: maxLength(100),
			},
			comments_count : {
				required,
				minLength: minLength(0),
		        maxLength: maxLength(10),
			},
			type : {
				required,
				minLength: minLength(0),
		        maxLength: maxLength(10),
			},
			url : {
				required,
				minLength: minLength(0),
		        maxLength: maxLength(200),
			},
			domain : {
				required,
				minLength: minLength(0),
		        maxLength: maxLength(50),
			},
		}
	},
    created() {
    	// 글 수정할 경우에만 FETCH_ITEM 조회
    	// 글 등록할 경우 id 가 null 인 상태에서 axios 호출 할 경우 에러 발생
    	this.$store.commit('SET_HACKERSNEWS', '');
    	if(this.$route.query.id) {
    		const idParams = {
   	    		id : this.$route.query.id,
   	    	};
   	    	this.$store.dispatch('FETCH_HACKERSNEWS', idParams);
    	}
    	this.$store.dispatch('FETCH_CATEGORIES');
    },
    data() {
    	return {
    		form : {
    			category : null,
    			id : null,
    	    	title : null,
    	    	points : null,
    	    	name : null,
    	    	time : null,
    	    	time_ago : null,
    	    	comments_count : null,
    	    	type : null,
    	    	url : null,
    	    	domain : null,
        	},	
    	}
    },
	methods: {
		validateState(name) {
			const { $dirty, $error } = this.$v.form[name];
			return $dirty ? !$error : null;
	    },
		async onSubmit() {
			const response = await this.$store.dispatch('MERGE_HACKERSNEWS', this.getHackersNews);
			return response;
		},
		formValueCheck() {
			this.$store.commit('SET_BLOCKUI', true);
			
			this.$v.form.category.$model = this.$refs.category.$el.value;
			this.$v.form.id.$model = this.$refs.id.vModelValue;
	    	this.$v.form.title.$model = this.$refs.title.vModelValue;
	    	this.$v.form.points.$model = this.$refs.points.vModelValue;
	    	this.$v.form.name.$model = this.$refs.name.vModelValue;
	    	this.$v.form.time.$model = this.$refs.time.vModelValue;
	    	this.$v.form.time_ago.$model = this.$refs.time_ago.vModelValue;
	    	this.$v.form.comments_count.$model = this.$refs.comments_count.vModelValue;
	    	this.$v.form.type.$model = this.$refs.type.vModelValue;
	    	this.$v.form.url.$model = this.$refs.url.vModelValue;
	    	this.$v.form.domain.$model = this.$refs.domain.vModelValue;
	    	
	    	this.$v.form.$touch();
	        if (this.$v.form.$anyError) {
	        	this.$store.commit('SET_BLOCKUI', false);
	        	return true;
	        }
		},
		inputChange(id, e) {
			this.$store.state.form.hackersNews[id] = e;
			this.$store.commit('SET_HACKERSNEWS', this.getHackersNews);
		},
	}
}
</script>

<style scoped>
</style>
