<template>
	<div>
		<b-container fluid>
			<b-form @submit.prevent="submitBtn">
			  <b-form-group label="공헌도">
			  	<b-input-group>
			  		<b-form-input :value="getUserInfo.points" ref="points">
			  		</b-form-input>
			  	</b-input-group>
			  </b-form-group>
			  <b-form-group label="제목">
			  	<b-input-group>
			  		<b-form-input :value="title" ref="title">
			  		</b-form-input>
			  	</b-input-group>
			  </b-form-group>
			  <b-form-group label="이름">
			  	<b-input-group>
			  		<b-form-input :value="name" ref="name">
			  		</b-form-input>
			  	</b-input-group>
			  </b-form-group>
			  <b-row class="text-center">
	  			<b-col>
			 		 <b-button variant="secondary">Back</b-button>
			 		 &nbsp;
			 		 <b-button type="submit" variant="primary">Submit</b-button>
			 	</b-col>
			 </b-row>
			 </b-form>
		</b-container>
	</div>
</template>

<script>
export default {
	created() {
		//this.$store.dispatch('FETCH_USER');
	},
	computed : {
		//...mapGetters(['getUserInfo']),
	},
	methods : {
		submitBtn() {
			
		},
	}
}
</script>

<style scoped>
</style>
