<template>
	<div>
		<b-card bg-variant="light" class="mt-2">
			<b-form-group label="Item" class="text-center">
			</b-form-group>
     			<b-form-group label="Content">
	        	<b-input-group>
	        		<b-form-textarea :value="getItem.content" @input="inputChange('content', $event)" :state="validateState('content')" ref="content">
	        		
	        		</b-form-textarea>
	        		<b-form-invalid-feedback>
	        			Content is a required field and must be at until 1000 characters.
	        		</b-form-invalid-feedback>
	        	</b-input-group>
			</b-form-group>
			<b-form-group label="Id">
	        	<b-input-group>
	        		<b-form-input :value="getItem.id" @input="inputChange('id', $event)" :state="validateState('id')" @keyup.native="onlyNumber($event)" ref="id">
	        		
	        		</b-form-input>
	        		<b-form-invalid-feedback>
	        			Id is a required field and must be at until 20 characters.
	        		</b-form-invalid-feedback>
	        	</b-input-group>
			</b-form-group>
		</b-card>
	</div>
</template>

<script>
import hackersNewsMixin from '../utils/hackersNewsMixin.js';
import { mapGetters } from 'vuex';
import { validationMixin } from "vuelidate";
import { required, minLength, maxLength } from "vuelidate/lib/validators";

export default {
    mixins : [hackersNewsMixin, validationMixin],
    computed : {
    	...mapGetters(['getItem']),
    },
    validations: {
        form: {
			content : {
				required,
				minLength: minLength(0),
		        maxLength: maxLength(1000),
			},
			id : {
				required,
				minLength: minLength(0),
		        maxLength: maxLength(20),
			},
		}
	},
    data() {
    	return {
    		form: {
    			content : null,
    			id : null,
			},
    	}
    },
    created() {
    	// 글 수정할 경우에만 FETCH_ITEM 조회
    	// 글 등록할 경우 id 가 null 인 상태에서 axios 호출 할 경우 에러 발생
    	this.$store.commit('SET_ITEM', '');
    	if(this.$route.query.id) {
    		const idParams = {
   	    		id : this.$route.query.id,
   	    	};
   	    	this.$store.dispatch('FETCH_ITEM', idParams);
    	}
    },
	methods: {
		validateState(name) {
			const { $dirty, $error } = this.$v.form[name];
			return $dirty ? !$error : null;
	    },
		async onSubmit() {
	    	const response = await this.$store.dispatch('MERGE_ITEM', this.getItem);
			return response;
		},
		formValueCheck() {
	    	this.$v.form.content.$model = this.$refs.content.vModelValue;
	    	this.$v.form.id.$model = this.$refs.id.vModelValue;
	    	
	    	this.$v.form.$touch();
	        if (this.$v.form.$anyError) {
	        	return true;
	        }
		},
		inputChange(id, e) {
			this.$store.state.form.item[id] = e;
			this.$store.commit('SET_ITEM', this.getItem);
		},
	}
}
</script>

<style scoped>
</style>
