<template>
	<div>
		<b-form @submit.prevent="searchBtn">
			<b-row>
				<b-col>
					<b-form-group label="Category">
						<b-input-group>
							<b-form-select :value="getPageInfo.category" ref="category">
								<template v-slot:first>
						          <option value="">-- All --</option>
						        </template>
								<option v-for="(item, idx) in getCategories" :key="idx" :value="item.value">{{ item.text }}</option>
							</b-form-select>
						</b-input-group>
					</b-form-group>
				</b-col>
				<b-col>
					<b-form-group label="Filter">
						<b-input-group>
							<b-form-select :value="getPageInfo.filterOn" ref="filterOn">
								<option v-for="(item, idx) in getPageInfo.fields.slice(1)" :key="idx" :value="item.key">{{ item.label }}</option>
							</b-form-select>
							<b-form-input placeholder="Type to Search" ref="filter" :value="getPageInfo.filter">
							</b-form-input>
							<b-input-group-append>
								<b-button type="submit" variant="primary" :disabled="isBusy">Search</b-button>
							</b-input-group-append>
						</b-input-group>
					</b-form-group>
				</b-col>
				<b-col>
					<b-form-group label="Per page">
						<b-input-group>
							<b-form-select :value="getPageInfo.perPage" :options="getPageInfo.pageOptions" ref="perPage">
							</b-form-select>
						</b-input-group>
					</b-form-group>
				</b-col>
				<!-- 
				<b-col>
					<b-form-group label="DB Insert">
						<b-input-group>
							<b-button @click="dbInsert" :disabled="isBusy">DB 저장</b-button>
						</b-input-group>
					</b-form-group>
				</b-col>
				-->
			</b-row>
		</b-form>
	</div>
</template>

<script>
import { mapGetters } from 'vuex';
import axios from 'axios';
import bus from '../utils/bus.js';
import { insertNewsUrl, insertAskUrl, insertJobsUrl, selectListUrl, mergeUserUrl, mergeItemUrl, userApiUrl, itemApiUrl } from '../api/index.js';
let i = 1;

export default {
	computed : {
		...mapGetters(['getCategories', 'getPageInfo']),
	},
	data() {
		return {
			isBusy : false,
		}
	},
	methods : {
		async insertData() {
			const news = await insertNewsUrl();
			const ask = await insertAskUrl();
			const jobs = await insertJobsUrl();
			await axios.all([news, ask, jobs]);
			
			const searchParams = {
				category : '',
				filterOn : 'points',
				filter : '',
				rows : 100,
				page : 1,
				sortBy : 'points',
				sortDesc : 'Desc',
				totalRows : 0,
			};
			
			const response = await selectListUrl(searchParams);
			
			const list = JSON.parse(response.data.d);
			for(const idx in list) {
				if(list[idx].name) {
					const userres = await userApiUrl(list[idx].name);
					
					const userParams = {
						about : userres.data.about,
						created_time : userres.data.created_time,
						created : userres.data.created,
						id : userres.data.id,
						karma : userres.data.karma,
					};
					
					await mergeUserUrl(userParams);
				}
			}
				
			for(const idx in list) {
				if(list[idx].id) {
					const itemres = await itemApiUrl(list[idx].id);
					
					const itemParams = {
						comments : '',
						comments_count : itemres.data.comments_count,
						content : itemres.data.content,
						domain : itemres.data.domain,
						id : itemres.data.id,
						points : itemres.data.points,
						time : itemres.data.time,
						time_ago : itemres.data.time_ago,
						title : itemres.data.title,
						type : itemres.data.type,
						url : itemres.data.url,
						users : itemres.data.user,
					};
					
					await mergeItemUrl(itemParams);
				}
			}
			return response;
		},
		async dbInsert() {
			this.isBusy = true;
			await this.insertData();
			this.isBusy = false;
			
			this.refresh();
		},
		searchBtn() {
			const category = this.$refs.category.$el.value;
			const filterOn = this.$refs.filterOn.$el.value;
			const filter = this.$refs.filter.$el.value;
			const perPage = this.$refs.perPage.$el.value;
			let currentPage = 1;
			// pageInfo 값을 통째로 바꾸면 할당하지 않은 값 또한 같이 삭제되므로 값을 하나씩 변경한다.
			this.$store.commit('SET_CATEGORY', category);
			this.$store.commit('SET_FILTERON', filterOn);
			this.$store.commit('SET_FILTER', filter);
			this.$store.commit('SET_PERPAGE', perPage);
			i++;
			// search 버튼 클릭 시 currentPage 마지막에 빈 공백을 주어 테이블이 매번 조회될 수 있게 한다. currentPage 값이 바뀌어야만 items 메소드가 매번 호출 될 수 있다.
			currentPage += Array(i).join(' ');
			this.$store.commit('SET_CURRENTPAGE', currentPage);
		},
		refresh() {
			bus.$emit('refresh::table');
		},
	},
}
</script>

<style scoped>
</style>
