<template>
	<div>
		<b-table ref="table" show-empty :busy="isBusy" :fields="getPageInfo.fields" :items="items" :current-page="getPageInfo.currentPage" :per-page="getPageInfo.perPage" :sort-by.sync="getPageInfo.sortBy" :sort-desc.sync="getPageInfo.sortDesc" :filter="getPageInfo.filter">
			<template v-slot:table-busy>
				<div class="text-center text-danger my-2">
					<b-spinner class="align-middle"></b-spinner>
					<strong>Loading...</strong>
				</div>
			</template>
			<template v-slot:cell(title)="row">
				<a :href="row.item.url" v-if="row.item.category === 'News' || row.item.category === 'Jobs'">{{ row.item.title }}</a>
				<router-link :to="`/admin/item?id=${id=row.item.id}`" v-else>{{ row.item.title }}</router-link>
			</template>
			<template v-slot:cell(name)="row">
				<div @click="showModal(row.item.name)"><a href="#">{{ row.item.name }}</a></div>
			</template>
		</b-table>
		
		<b-pagination align="center" :value="getPageInfo.currentPage" @change="pageChange" :total-rows="getPageInfo.totalRows" :per-page="getPageInfo.perPage"></b-pagination>
	</div>
</template>

<script>
import { mapGetters } from 'vuex';

export default {
	props : ['currentPage'],
	computed : {
		...mapGetters(['getPageInfo']),
	},
	data() {
		return {
			isBusy : false,
			totalRows : 0,
		}
	},
	methods : {
		async items(ctx) {
			const searchParams = {
				category : this.getPageInfo.category,
				filterOn : this.getPageInfo.filterOn,
				filter : ctx.filter,
				rows : ctx.perPage,
				page : ctx.currentPage,
				sortBy : ctx.sortBy,
				sortDesc : ctx.sortDesc ? 'Desc' : 'Asc',
			};
			
			this.isBusy = true;
			const response = await this.$store.dispatch('FETCH_LIST', searchParams);
			this.$store.commit('SET_TOTALROWS', response.data.c);
			this.isBusy = false;
			
			return JSON.parse(response.data.d);
		},
		async showModal(id) {
	    	const userParams = {
				id,
			};
	    	
			await this.$store.dispatch('FETCH_USER', userParams);
			this.$root.$emit('bv::show::modal', 'modalArea');
		},
		pageChange(page) {
			this.$store.commit('SET_CURRENTPAGE', page);
		},
	}
}
</script>

<style scoped>
</style>
