<template>
	<div>
		<b-container fluid>
			<b-overlay :show="blockUI" rounded="lg" opacity="0">
			<b-form @submit.prevent="onSubmit" @reset="onReset">
				<hackersNews-component ref="hackersNews"/>
				<item-component ref="item" v-if="this.$route.query.id"/>
				<b-row>
					<b-col>
						<b-button type="submit" variant="primary" class="mr-2 mt-2">Submit</b-button>
						<b-button type="reset" variant="danger" class="mr-2 mt-2">Back</b-button>
					</b-col>
				</b-row>
    		</b-form>
    		</b-overlay>
    	</b-container>
	</div>
</template>

<script>
import hackersNewsMixin from '../utils/hackersNewsMixin.js';
import { mapGetters } from 'vuex';
import { validationMixin } from "vuelidate";
import { required, minLength, maxLength } from "vuelidate/lib/validators";
import HackersNewsComponent from '../components/HackersNewsComponent.vue';
import ItemComponent from '../components/ItemComponent.vue';

export default {
	components : {
		HackersNewsComponent,
		ItemComponent,
	},
    mixins : [hackersNewsMixin, validationMixin],
    computed : {
    	...mapGetters(['getItem']),
    },
    validations: {
        form: {
			content : {
				required,
				minLength: minLength(0),
		        maxLength: maxLength(1000),
			},
			id : {
				required,
				minLength: minLength(0),
		        maxLength: maxLength(20),
			},
		}
	},
    data() {
    	return {
    		form: {
    			content : null,
    			id : null,
			},
			blockUI : false,
    	}
    },
    created() {
    	// 글 수정할 경우에만 FETCH_ITEM 조회
    	// 글 등록할 경우 id 가 null 인 상태에서 axios 호출 할 경우 에러 발생
    	this.$store.commit('SET_ITEM', '');
    	if(this.$route.query.id) {
    		const idParams = {
   	    		id : this.$route.query.id,
   	    	};
   	    	this.$store.dispatch('FETCH_ITEM', idParams);
    	}
    },
	methods: {
		validateState(name) {
			const { $dirty, $error } = this.$v.form[name];
			return $dirty ? !$error : null;
	    },
		async onSubmit() {
	    	this.blockUI = true;
	    	const hackersNewsCheck = this.$refs.hackersNews.formValueCheck();
	    	const itemCheck = this.$refs.item.formValueCheck();
	    	
	    	if(hackersNewsCheck || itemCheck) {
	    		return;
	    	}
	        
	        const hackersNewsRes = await this.$refs.hackersNews.onSubmit();
	        const itemRes = await this.$refs.item.onSubmit();
	        
	        if(hackersNewsRes && itemRes) {
	        	this.blockUI = false;
	        	this.createList();
	        }
	       
		},
		onReset() {
			this.$router.back();
		},
		createList() {
			this.$router.push({path : '/admin/index', query : {id : ''}});
		},
		inputChange(id, e) {
			this.$store.state.form.item[id] = e;
			this.$store.commit('SET_ITEM', this.getItem);
		},
	}
}
</script>

<style scoped>
</style>
