<template>
	<div>
		<router-view v-if="this.$route.path === '/admin/item'"/>
		<b-container fluid v-else>
			
			<search-component/>
			
			<table-component ref="table" :isBusy="false"/>
			
			<b-row>
				<b-col>
					<b-button @click="newItem" variant="primary" class="mr-2 mt-2">글쓰기</b-button>
					<b-button @click="newUser" variant="danger" class="mr-2 mt-2">사용자 등록</b-button>
				</b-col>
			</b-row>
			
			<user-component/>
			
		</b-container>
	</div>
</template>

<script>
import bus from '../utils/bus.js';
import SearchComponent from '../components/SearchComponent.vue';
import TableComponent from '../components/TableComponent.vue';
import UserComponent from '../components/UserComponent.vue';
import { mapGetters } from 'vuex';
let i = 0;

export default {
	components : {
		SearchComponent,
		TableComponent,
		UserComponent,
	},
	computed : {
		...mapGetters(['getPageInfo']),
	},
	created() {
		this.$store.dispatch('FETCH_CATEGORIES');
		bus.$on('refresh::modal', this.refresh);
		bus.$on('refresh::table', this.refresh);
	},
	methods : {
		refresh() {
			this.$refs.table.refresh();
		},
		newItem() {
			this.$router.push({path : '/admin/item'});
		},
		newUser() {
			this.$root.$emit('bv::show::modal', 'modalArea');
			this.$store.commit('SET_USER', '');
		},
	},
}
</script>

<style scoped>
</style>
