<template>
	<div>
		<b-input-group v-if="depthLevel > 0">
			<b-form-select :value="item.iaCode" @change="changeCategory(2, $event)" style="margin-top:10px;">
				<template v-slot:first>
					<option value="00000000">-- Group --</option>
				</template>
				<option v-for="(item, idx) in iaList" :key="idx" :value="item.iaCode">{{ item.iaEnglishName }}</option>
			</b-form-select>
		</b-input-group>
		<b-input-group v-if="depthLevel - 1 > 0">
			<b-form-select value="" @change="changeCategory(3, $event)" style="margin-top:10px;">
				<template v-slot:first>
					<option value="">-- Type --</option>
				</template>
				<option v-for="(item, idx) in iaTypeList" :key="idx" :value="item.iaCode">{{ item.iaEnglishName }}</option>
			</b-form-select>
		</b-input-group>
		<b-input-group v-if="depthLevel - 2 > 0">
			<b-form-select value="" style="margin-top:10px;">
				<template v-slot:first>
					<option value="">-- Sub Type --</option>
				</template>
				<option v-for="(item, idx) in iaSubTypeList" :key="idx" :value="item.iaCode">{{ item.iaEnglishName }}</option>
			</b-form-select>
		</b-input-group>
	</div>
</template>

<script>
export default {
	props : ['depthLevel', 'siteCode', 'type', 'language', 'iaList', 'iaTypeList', 'iaSubTypeList'],
	methods : {
		changeCategory(level, value) {
			const data = {
				siteCode : this.siteCode,
				iaCode : value,
				level,
				iaTypeCode : this.type === '1' ? 'IA002' : 'IA003',
				language : this.language,
			};
			this.initIaList(data);
		},
	}
}
</script>

<style scoped>
</style>
