<template>
	<div>
		<b-input-group>
			<b-form-radio-group id="btn-radios-1" style="width:320px;" :options="languageList" checked="L" @change="changeLanguage($event, siteCode, type)" buttons name="radios-btn-default"></b-form-radio-group>
		</b-input-group>
	</div>
</template>

<script>
export default {
	props : ['languageList', 'siteCode', 'type'],
}
</script>

<style scoped>
</style>
