<template>
	<div>
		<b-sidebar id="sidebar-1" title="Search" shadow @change="toggleBodyScrollbar" :visible="true">
			<b-form @submit.prevent="onSubmit">
				<div class="px-3 py-2">
					<b-form-group label="Site">
						<b-input-group>
							<b-form-select ref="siteCode" value="cn" @change="changeSiteCode">
								<option v-for="(item, idx) in siteCodeList" :key="idx" :value="item.siteCode">{{ item.siteCode }}</option>
							</b-form-select>
						</b-input-group>
					</b-form-group>
					<b-form-group label="Type" v-if="typeList.length > 0">
						<b-input-group>
							<b-form-select ref="type" value="" @change="changeType($event, siteCode, language)">
								<option v-for="(item, idx) in typeList" :key="idx" :value="item.value">{{ item.text }}</option>
							</b-form-select>
						</b-input-group>
					</b-form-group>
					<b-form-group label="Category" v-if="shown || typeList.length === 0">
						<language-component :languageList="languageList" :siteCode="siteCode" :type="type"/>
						
						<category-component :depthLevel="depthLevel" :siteCode="siteCode" :type="type" :language="language" :iaList="iaList" :iaTypeList="iaTypeList" :iaSubTypeList="iaSubTypeList"/>
					</b-form-group>
					<b-form-group label="Notice ID">
						<b-input-group>
							<b-form-input ref="noticeId">
							
							</b-form-input>
						</b-input-group>
					</b-form-group>
					<b-form-group label="Keyword">
						<b-input-group>
							<b-form-select ref="keywordType" value="">
								<option v-for="(item, idx) in keywordTypeList" :key="idx" :value="item.value">{{ item.text }}</option>
							</b-form-select>
						</b-input-group>
						<b-input-group style="margin-top:10px;">
							<b-form-input ref="keywordTitle">
							
							</b-form-input>
						</b-input-group>
					</b-form-group>
					<b-form-group label="" style="margin-top:20px;">
						<b-input-group>
							<b-button style="width:320px;">Reset</b-button>
							<b-button type="submit" variant="primary" style="margin-top:10px; width:320px;">Search</b-button>
						</b-input-group>
					</b-form-group>
				</div>
			</b-form>
		</b-sidebar>
	</div>
</template>

<script>
import CategoryComponent from './CategoryComponent.vue';
import LanguageComponent from './LanguageComponent.vue';
import bus from '../../utils/noticebar/bus.js';

export default {
	props : ['siteCodeList', 
			 'typeList', 
			 'shown', 
			 'languageList', 
			 'depthLevel', 
			 'iaCode', 
			 'iaTypeCode', 
			 'iaSubTypeCode', 
			 'iaList', 
			 'iaTypeList', 
			 'iaSubTypeList', 
			 'keywordTypeList', 
			 'keywordTitle', 
			 'siteCode', 
			 'language', 
			 'type', 
			 'rows', 
			 'sortBy', 
			 'sortDesc', 
			 'searchIaCode'],
	components : {
		CategoryComponent,
		LanguageComponent,
	},
	created() {
		const data = {
			siteCode : this.siteCode,
			iaCode : '00000000',
			level : 1,
			iaTypeCode : this.type === '1' ? 'IA002' : 'IA003',
			language : this.language,
		};
		bus.$emit('initIaList', data);
	},
	methods : {
		toggleBodyScrollbar(visible) {
			// slidebar close
			if(!visible) {
				this.$store.commit('leftMenuStore/SET_SLIDEPOSITION', {marginLeft : '30px', marginTop : '20px'});
			} else {
				this.$store.commit('leftMenuStore/SET_SLIDEPOSITION', {marginLeft : '350px', marginTop : '20px'});
			}
		},
		changeSiteCode(value) {
			bus.$emit('changeSiteCode', value);
		},
		onSubmit() {
			let clickCnt = this.getClickCnt;
			this.$store.commit('noticeBarStore/SET_NOTICEID', this.$refs.noticeId.$el.value);
			this.$store.commit('noticeBarStore/SET_KEYWORDTYPE', this.$refs.keywordType.$el.value);
			this.$store.commit('noticeBarStore/SET_KEYWORDTITLE', this.$refs.keywordTitle.$el.value);
			this.$store.commit('noticeBarStore/SET_CURRENTPAGE', this.getCurrentPage + Array(++clickCnt).join(' '));
			this.$store.commit('noticeBarStore/SET_CLICKCNT', clickCnt);
			
			const data = {
				searchSiteCode : this.siteCode,
				searchCategoryType : this.type,
				searchIaCode : this.searchIaCode,
				searchNoticeId : this.$refs.noticeId.$el.value,
				searchKeywordType : this.$refs.keywordType.$el.value,
				searchKeywordTitle : this.$refs.keywordTitle.$el.value,
				rows : this.rows,
				page : 1,
				sortBy : this.sortBy,
				sortDesc : this.sortDesc,
			};
			
			this.$store.dispatch('noticeBarStore/FETCH_TABLE', data)
				.then(response => {
					
				})
				.catch(error => console.log(error));
		}
	},
}
</script>

<style scoped>
</style>
