<template>
	<div>
		<b-table show-empty :busy="isBusy" :items="noticeList" :fields="fields" :current-page="currentPage">
			<template v-slot:table-busy>
				<div class="text-center text-danger my-2">
					<b-spinner class="align-middle"></b-spinner>
					<strong>Loading...</strong>
				</div>
			</template>
			<template v-slot:cell(noticeTitle)="data">
				<router-link :to="`/admin/noticedetail?noticeId=${data.item.noticeId}`">
					{{ data.item.noticeTitle }}
				</router-link>
			</template>
			<!-- fields key -->
			<template v-slot:cell(b2cTypeBv)="data">
				<div v-if="data.item.b2cTypeBv === '1'">
					B2C
				</div>
				<div v-if="data.item.b2cTypeBv === '2'">
					B2B
				</div>
			</template>
			<!-- Date 포맷을 yyyy-mm-dd 로 바꾸기 위해서는 moment js 가 필요함 -->
			<template v-slot:cell(udtDate)="data">
				{{ data.item.udtDate }}
			</template>
		</b-table>
		
		<b-pagination :value="currentPage" @change="changePaging" :total-rows="totalRows" :per-page="rows" align="center"/>
	</div>
</template>

<script>
let clickCnt = 1;

export default {
	props : ['slidePosition', 
			 'noticeList', 
			 'fields', 
			 'currentPage',
			 'siteCode', 
			 'type', 
			 'searchIaCode', 
			 'noticeId', 
			 'keywordType', 
			 'keywordTitle', 
			 'rows', 
			 'sortBy', 
			 'sortDesc', 
			 'rows', 
			 'sortBy', 
			 'sortDesc', 
			 'searchIaCode'],
	data() {
		return {
			isBusy : true,
			items: [],
			totalRows : 0,
		}
	},
	created() {
		const data = {
			searchSiteCode : this.siteCode,
			searchCategoryType : '',
			searchIaCode : '',
			searchNoticeId : '',
			searchKeywordType : '',
			searchKeywordTitle : '',
			rows : this.rows,
			page : 1,
			sortBy : this.sortBy,
			sortDesc : this.sortDesc,
		};
		
		this.listGrid(data);
	},
	methods : {
		changePaging(page) {
			this.$store.commit('noticeBarStore/SET_CURRENTPAGE', page + Array(++clickCnt).join(' '));
			
			const data = {
				searchSiteCode : this.siteCode,
				searchCategoryType : this.type,
				searchIaCode : this.searchIaCode,
				searchNoticeId : this.noticeId,
				searchKeywordType : this.keywordType,
				searchKeywordTitle : this.keywordTitle,
				rows : this.rows,
				page,
				sortBy : this.sortBy,
				sortDesc : this.sortDesc,
			};
			
			this.listGrid(data);
		},
		listGrid(data) {
			this.$store.dispatch('noticeBarStore/FETCH_TABLE', data)
				.then(response => {
					// 데이터 fetch 후 isBusy false
					this.isBusy = false;
					this.totalRows = JSON.parse(response.data.c);
				})
				.catch(error => console.log(error));
		},
	}
}
</script>

<style scoped>
</style>
