<template>
	<div class="container">
		<router-view name="top"/>
		<div class="middle">
			<router-view name="left"/>
			<router-view name="center"/>
			<router-view name="right"/>
		</div>
		<router-view name="bottom"/>
	</div>
</template>

<script>
export default {
	
}
</script>

<style scoped>
*{
	margin : 0px;
	padding : 0px;
}
.container {
	width : 1000px;
	margin : 0 auto;
}
.container div {
	text-align : center;
	display : table;
}
.container div span {
	display : table-cell;
	vertical-align : middle;
}
.middle {
	margin-top : 20px;
	width : 1000px;
	height : 500px;
	position : relative;
}
</style>
