<template>
	<div class="bottom">
		<span>BOTTOM</span>
	</div>
</template>

<script>
export default {
	
}
</script>

<style scoped>
.bottom {
	margin-top : 20px;
	margin-bottom : 20px;
	outline : 1px solid black;
	width : 1000px;
	height : 100px;
	background-color : purple;
	color : black;
}
</style>
