<template>
	<div class="middle-center">
		<span>CENTER</span>
	</div>
</template>

<script>
export default {
	
}
</script>

<style scoped>
.middle-center {
	outline : 1px solid black;
	position : absolute;
	top : 0px;
	left : 410px;
	width : 200px;
	height : 500px;
	background-color : red;
}
</style>
