<template>
	<div class="middle-left">
		<span>LEFT</span>
	</div>
</template>

<script>
export default {
	
}
</script>

<style scoped>
.middle-left {
	outline : 1px solid black;
	position : absolute;
	top : 0px;
	width : 400px;
	height : 500px;
	background-color : green;
}
</style>
