<template>
	<div class="middle-right">
		<span>RIGHT</span>
	</div>
</template>

<script>
export default {
	
}
</script>

<style scoped>
.middle-right {
	outline : 1px solid black;
	position : absolute;
	top : 0px;
	left : 620px;
	width : 380px;
	height : 500px;
	background-color : blue;
}
</style>
