<template>
	<div class="top">
		<span>TOP</span>
	</div>
</template>

<script>
export default {
	
}
</script>

<style scoped>
.top {
	margin-top : 20px;
	outline : 1px solid black;
	width : 1000px;
	height : 80px;
	display : table;
	background-color : yellow;
}
</style>
