<template>
	<div>
		<router-view v-if="this.$route.path === '/admin/item'"/>
		<b-container fluid v-else>
			<b-form @submit.prevent="searchBtn">
				<b-row>
					<b-col>
						<b-form-group label="Category">
							<b-input-group>
								<b-form-select :value="category" ref="category">
									<template v-slot:first>
							          <option value="">-- All --</option>
							        </template>
									<option v-for="(item, idx) in getCategories" :key="idx" :value="item.value">{{ item.text }}</option>
								</b-form-select>
							</b-input-group>
						</b-form-group>
					</b-col>
					<b-col>
						<b-form-group label="Filter">
							<b-input-group>
								<b-form-select :value="filterOn" ref="filterOn">
									<option v-for="(item, idx) in fields.slice(1)" :key="idx" :value="item.key">{{ item.label }}</option>
								</b-form-select>
								<b-form-input placeholder="Type to Search" ref="filter" :value="filter">
								</b-form-input>
								<b-input-group-append>
									<b-button type="submit" :disabled="isBusy">Search</b-button>
								</b-input-group-append>
							</b-input-group>
						</b-form-group>
					</b-col>
					<b-col>
						<b-form-group label="Per page">
							<b-input-group>
								<b-form-select :value="perPage" :options="pageOptions" ref="perPage">
								</b-form-select>
							</b-input-group>
						</b-form-group>
					</b-col>
					<b-col>
						<b-form-group label="DB Insert">
							<b-input-group>
								<b-button @click="dbInsert" :disabled="isBusy">DB 저장</b-button>
							</b-input-group>
						</b-form-group>
					</b-col>
				</b-row>
			</b-form>
			
			<b-table ref="table" show-empty :busy="isBusy" :fields="fields" :items="items" :current-page="currentPage" :per-page="perPage" :sort-by.sync="sortBy" :sort-desc.sync="sortDesc" :filter="filter">
				<template v-slot:table-busy>
					<div class="text-center text-danger my-2">
						<b-spinner class="align-middle"></b-spinner>
						<strong>Loading...</strong>
					</div>
				</template>
				<template v-slot:cell(title)="row">
					<a :href="row.item.url" v-if="row.item.category === 'News' || row.item.category === 'Jobs'">{{ row.item.title }}</a>
					<router-link :to="`/admin/item?id=${id=row.item.id}`" v-else>{{ row.item.title }}</router-link>
				</template>
				<template v-slot:cell(name)="row">
					<div @click="showModal(row.item.name)"><a href="#">{{ row.item.name }}</a></div>
				</template>
			</b-table>
			
			<b-pagination align="center" v-model="currentPage" :total-rows="getTotalRows" :per-page="perPage"></b-pagination>
			
			<b-row>
				<b-col class="text-left"><b-button @click="selectItem">글쓰기</b-button></b-col>
			</b-row>
			
			<b-modal id="modalArea" @ok="handleOk" @hidden="resetModal" title="User Info">
				<b-overlay :show="blockUI" rounded="lg" opacity="0">
				<b-form ref="form" @submit.prevent="handleSubmit">
					<b-form-group label="Id">
						<b-input-group>
							<b-form-input ref="id" :value="getUser.id" readonly>
							
							</b-form-input>
						</b-input-group>
					</b-form-group>
					<b-form-group label="Created Time" invalid-feedback="Created Time is required" :state="validate.created_time">
						<b-input-group>
							<b-form-input ref="created_time" @keyup.native="onlyNumber($event)" :value="getUser.created_time" required :state="validate.created_time">
							
							</b-form-input>
						</b-input-group>
					</b-form-group>
					<b-form-group label="Created" invalid-feedback="Created is required" :state="validate.created">
						<b-input-group>
							<b-form-input ref="created" :value="getUser.created" required :state="validate.created">
							
							</b-form-input>
						</b-input-group>
					</b-form-group>
					<b-form-group label="Karma" invalid-feedback="Karma is required" :state="validate.karma">
						<b-input-group>
							<b-form-input ref="karma" @keyup.native="onlyNumber($event)" :value="getUser.karma" required :state="validate.karma">
								
							</b-form-input>
						</b-input-group>
					</b-form-group>
					<b-form-group label="About" invalid-feedback="Abount is required" :state="validate.about">
						<b-input-group>
							<b-form-textarea ref="about" :value="getUser.about" required :state="validate.about">
							
							</b-form-textarea>
						</b-input-group>
					</b-form-group>
				</b-form>
				</b-overlay>
				<template v-slot:modal-footer="{ cancel, ok }">
			        <b-button @click="resetModal" :disabled="blockUI">Cancel</b-button>
			        <b-button @click="handleOk" variant="primary" :disabled="blockUI">OK</b-button>
				</template>
			</b-modal>
		</b-container>
	</div>
</template>

<script>
import axios from 'axios';
import { mapGetters } from 'vuex';
import hackersNewsMixin from '../../utils/hackersNewsMixin.js';
import { insertNewsUrl, insertAskUrl, insertJobsUrl, selectListUrl, mergeUserUrl, mergeItemUrl, userApiUrl, itemApiUrl } from '../../api/index.js';
let i = 1;

export default {
	mixins : [hackersNewsMixin],
	data() {
		return {
			sortBy : 'points',
			sortDesc : false,
			filterOn : 'points',
			filter : '',
			pageOptions : [5, 10, 15],
			perPage : 5,
			currentPage : 1,
			isBusy : false,
			validate : {
				id : null,
				created_time : null,
				created : null,
				karma : null,
				about : null,
			},
			fields : [
				{
					key : 'category',
					label : '구분',
					sortable : true,
				},
				{
					key : 'points',
					label : '공헌도',
					sortable : true,
				},
				{
					key : 'title',
					label : '제목',
					sortable : true,
				},
				{
					key : 'name',
					label : '이름',
					sortable : true,
				},
				{
					key : 'time_ago',
					label : '시간',
					sortable : true,
				}
			],
			category : '',
			blockUI : false,
		}
	},
	computed : {
		...mapGetters(['getTotalRows', 'getUser']),
	},
	methods : {
		checkFormValidity() {
			let validateArr = [];
			let valid = false;
			
			valid = this.$refs.created_time.checkValidity();
			this.validate.created_time = valid;
			
			validateArr.push(valid);
			
			valid = this.$refs.created.checkValidity();
			this.validate.created = valid;
			
			validateArr.push(valid);
			
			valid = this.$refs.karma.checkValidity();
			this.validate.karma = valid;
			
			validateArr.push(valid);
			
			valid = this.$refs.about.checkValidity();
			this.validate.about = valid;
			
			validateArr.push(valid);
			
			return validateArr;
	    },
		async showModal(id) {
	    	this.blockUI = false;
	    	
	    	const userParams = {
				id,
			};
	    	
			await this.$store.dispatch('FETCH_USER', userParams);
			this.$root.$emit('bv::show::modal', 'modalArea');
		},
		handleOk(bvModalEvt) {
			// Prevent modal from closing
	        bvModalEvt.preventDefault();
	        // Trigger submit handler
	        this.handleSubmit();
		},
		async handleSubmit() {
			// Exit when the form isn't valid
			if (this.checkFormValidity().indexOf(false) > -1) {
				return;
			}
			
			const userParams = {
				about : this.$refs.about.vModelValue,
				created_time : this.$refs.created_time.vModelValue,
				created : this.$refs.created.vModelValue,
				id : this.$refs.id.vModelValue,
				karma : this.$refs.karma.vModelValue,
			};
			
			const blockUI = await this.$store.dispatch('MERGE_USER', userParams);
			this.blockUI = JSON.parse(blockUI);
			/*
			const response = await mergeUserUrl(userParams);
			const blockUI = JSON.parse(response.data.success);
			this.blockUI = blockUI;
			*/
			this.resetModal();
			this.refresh();
		},
		resetModal() {
			this.validate.id = null;
			this.validate.created_time = null;
			this.validate.created = null;
			this.validate.karma = null;
			this.validate.about = null;
			
			this.$root.$emit('bv::hide::modal', 'modalArea');
		},
		async items(ctx) {
			const searchParams = {
				category : this.category,
				filterOn : this.filterOn,
				filter : ctx.filter,
				rows : ctx.perPage,
				page : ctx.currentPage,
				sortBy : ctx.sortBy,
				sortDesc : ctx.sortDesc ? 'Desc' : 'Asc',
			};
			
			this.isBusy = true;
			const promise = await this.$store.dispatch('FETCH_LIST', searchParams);
			this.isBusy = false;
			
			return promise;
		},
		searchBtn() {
			this.category = this.$refs.category.$el.value;
			this.filterOn = this.$refs.filterOn.$el.value;
			this.filter = this.$refs.filter.$el.value;
			this.perPage = this.$refs.perPage.$el.value;
			i++;
			this.currentPage += Array(i).join(' ');
		},
		async insertData() {
			const news = await insertNewsUrl();
			const ask = await insertAskUrl();
			const jobs = await insertJobsUrl();
			await axios.all([news, ask, jobs]);
			
			const searchParams = {
				category : '',
				filterOn : 'points',
				filter : '',
				rows : 100,
				page : 1,
				sortBy : 'points',
				sortDesc : 'Desc',
			};
			
			const response = await selectListUrl(searchParams);
			
			const list = JSON.parse(response.data.d);
			for(const idx in list) {
				if(list[idx].name) {
					const userres = await userApiUrl(list[idx].name);
					
					const userParams = {
						about : userres.data.about,
						created_time : userres.data.created_time,
						created : userres.data.created,
						id : userres.data.id,
						karma : userres.data.karma,
					};
					
					await mergeUserUrl(userParams);
					
					/*
					const itemres = await itemApiUrl(list[idx].id);
					
					const itemParams = {
						comments : null,
						comments_count : itemres.data.comments_count,
						content : itemres.data.content,
						domain : itemres.data.domain,
						id : itemres.data.id,
						points : itemres.data.points,
						time : itemres.data.time,
						time_ago : itemres.data.time_ago,
						title : itemres.data.title,
						type : itemres.data.type,
						url : itemres.data.url,
						users : itemres.data.user,
					};
					
					await mergeItemUrl(itemParams);
					*/
				}
			}
			return response;
		},
		async dbInsert() {
			this.isBusy = true;
			await this.insertData();
			this.isBusy = false;
			
			this.refresh();
		},
		refresh() {
			this.$nextTick(function() {
		        this.$refs.table.refresh();
		    });
		},
		selectItem() {
			this.$router.push({path : '/admin/item'});
		}
	},
}
</script>

<style scoped>
</style>
