<template>
	<div>
		<b-container fluid>
			<b-form @submit.prevent="onSubmit" @reset="onReset">
				<b-form-group label="Category">
		        	<b-input-group>
		        		<b-form-select :value="getCategoryCode" ref="category">
		        			<option v-for="(item, idx) in getCategories" :key="idx" :value="item.value">{{ item.text }}</option>
		        		</b-form-select>
		        	</b-input-group>
				</b-form-group>
      			<b-form-group label="Id">
		        	<b-input-group>
		        		<b-form-input :value="getItem.id" @keyup.native="onlyNumber($event)" ref="id">
		        		
		        		</b-form-input>
		        	</b-input-group>
				</b-form-group>
				<b-form-group label="Title">
		        	<b-input-group>
		        		<b-form-input :value="getItem.title" ref="title">
		        		
		        		</b-form-input>
		        	</b-input-group>
				</b-form-group>
				<b-form-group label="Points">
		        	<b-input-group>
		        		<b-form-input :value="getItem.points" required @keyup.native="onlyNumber($event)" ref="points">
		        		
		        		</b-form-input>
		        	</b-input-group>
				</b-form-group>
				<b-form-group label="Name">
		        	<b-input-group>
		        		<b-form-input :value="getItem.name" ref="name">
		        		
		        		</b-form-input>
		        	</b-input-group>
				</b-form-group>
				<b-form-group label="Time">
		        	<b-input-group>
		        		<b-form-input :value="getItem.time" @keyup.native="onlyNumber($event)" ref="time">
		        		
		        		</b-form-input>
		        	</b-input-group>
				</b-form-group>
				<b-form-group label="Time Ago">
		        	<b-input-group>
		        		<b-form-input :value="getItem.time_ago" ref="time_ago">
		        		
		        		</b-form-input>
		        	</b-input-group>
				</b-form-group>
				<b-form-group label="Comments Count">
		        	<b-input-group>
		        		<b-form-input :value="getItem.comments_count" @keyup.native="onlyNumber($event)" ref="comments_count">
		        		
		        		</b-form-input>
		        	</b-input-group>
				</b-form-group>
				<b-form-group label="Type">
		        	<b-input-group>
		        		<b-form-input :value="getItem.type" ref="type">
		        		
		        		</b-form-input>
		        	</b-input-group>
				</b-form-group>
				<b-form-group label="Url">
		        	<b-input-group>
		        		<b-form-input :value="getItem.url" ref="url">
		        		
		        		</b-form-input>
		        	</b-input-group>
				</b-form-group>
				<b-form-group label="Domain">
		        	<b-input-group>
		        		<b-form-input :value="getItem.domain" ref="domain">
		        		
		        		</b-form-input>
		        	</b-input-group>
				</b-form-group>
				<b-row class="text-left">
					<b-col>
						<b-button type="submit" variant="primary">Submit</b-button>&nbsp;
						<b-button type="reset" variant="danger">Back</b-button>
					</b-col>
				</b-row>
    		</b-form>
    	</b-container>
	</div>
</template>

<script>
import hackersNewsMixin from '../utils/hackersNewsMixin.js';
import { mapGetters } from 'vuex';

export default {
    mixins : [hackersNewsMixin],
    computed : {
    	...mapGetters(['getItem']),
    	getCategoryCode() {
    		let code = '01';
    		if(this.getItem.category === 'News') {
    			code = '01';
    		} else if(this.getItem.category === 'Ask') {
    			code = '02';
    		} else if(this.getItem.category === 'Jobs') {
    			code = '03';
    		}
    		return code;
    	},
    },
    data() {
    	return {
    		blockUI : false,
    	}
    },
    created() {
    	const itemParams = {
    		id : this.$route.query.id,
    	};
    	this.$store.dispatch('FETCH_ITEM', itemParams);
    },
	methods: {
		async onSubmit() {
			const itemParams = {
				category : this.$refs.category.value,
				id : this.$refs.id.vModelValue,
				title : this.$refs.title.vModelValue,
				points : this.$refs.points.vModelValue,
				name : this.$refs.name.vModelValue,
				time : this.$refs.time.vModelValue,
				time_ago : this.$refs.time_ago.vModelValue,
				comments_count : this.$refs.comments_count.vModelValue,
				type : this.$refs.type.vModelValue,
				url : this.$refs.url.vModelValue,
				domain : this.$refs.domain.vModelValue,
			};
			
			const blockUI = await this.$store.dispatch('MERGE_ITEM', itemParams);
			this.blockUI = JSON.parse(blockUI);
			
			//this.resetModal();
			this.selectList();
			//this.refresh();
		},
		onReset() {
			this.$router.back();
		},
		selectList() {
			this.$router.push({path : '/admin/index'});
		}
	}
}
</script>

<style scoped>
</style>
