<template>
	<div>
		<router-view v-if="this.$route.path === '/admin/item'"/>
		<b-container fluid v-else>
			<b-form @submit.prevent="searchBtn">
				<b-row>
					<b-col>
						<b-form-group label="Category">
							<b-input-group>
								<b-form-select :value="category" ref="category">
									<template v-slot:first>
							          <option value="">-- All --</option>
							        </template>
									<option v-for="(item, idx) in getCategories" :key="idx" :value="item.value">{{ item.text }}</option>
								</b-form-select>
							</b-input-group>
						</b-form-group>
					</b-col>
					<b-col>
						<b-form-group label="Filter">
							<b-input-group>
								<b-form-select :value="filterOn" ref="filterOn">
									<option v-for="(item, idx) in fields.slice(1)" :key="idx" :value="item.key">{{ item.label }}</option>
								</b-form-select>
								<b-form-input placeholder="Type to Search" ref="filter" :value="filter">
								</b-form-input>
								<b-input-group-append>
									<b-button type="submit" :disabled="isBusy">Search</b-button>
								</b-input-group-append>
							</b-input-group>
						</b-form-group>
					</b-col>
					<b-col>
						<b-form-group label="Per page">
							<b-input-group>
								<b-form-select :value="perPage" :options="pageOptions" ref="perPage">
								</b-form-select>
							</b-input-group>
						</b-form-group>
					</b-col>
					<b-col v-if="getTotalRows < 1">
						<b-form-group label="DB Insert">
							<b-input-group>
								<b-button @click="dbInsert" :disabled="isBusy">DB 저장</b-button>
							</b-input-group>
						</b-form-group>
					</b-col>
				</b-row>
			</b-form>
			
			<b-table ref="table" show-empty :busy="isBusy" :fields="fields" :items="items" :current-page="currentPage" :per-page="perPage" :sort-by.sync="sortBy" :sort-desc.sync="sortDesc" :filter="filter">
				<template v-slot:table-busy>
					<div class="text-center text-danger my-2">
						<b-spinner class="align-middle"></b-spinner>
						<strong>Loading...</strong>
					</div>
				</template>
				<template v-slot:cell(title)="row">
					<a :href="row.item.url" v-if="row.item.category === 'News' || row.item.category === 'Jobs'">{{ row.item.title }}</a>
					<router-link :to="`/admin/item?id=${id=row.item.id}`" v-else>{{ row.item.title }}</router-link>
				</template>
				<template v-slot:cell(name)="row">
					<div @click="showModal(row.item.name)"><a href="#">{{ row.item.name }}</a></div>
				</template>
			</b-table>
			
			<b-pagination align="center" v-model="currentPage" :total-rows="getTotalRows" :per-page="perPage"></b-pagination>
			
			<b-row>
				<b-col class="text-left"><b-button @click="selectItem">글쓰기</b-button></b-col>
			</b-row>
			
			<user-component/>
			
		</b-container>
	</div>
</template>

<script>
import axios from 'axios';
import bus from '../../utils/bus.js';
import UserComponent from '../../components/UserComponent.vue';
import { mapGetters } from 'vuex';
import { insertNewsUrl, insertAskUrl, insertJobsUrl, selectListUrl, mergeUserUrl, mergeItemUrl, userApiUrl, itemApiUrl } from '../../api/index.js';
let i = 1;

export default {
	components : {
		UserComponent,
	},
	data() {
		return {
			sortBy : 'points',
			sortDesc : false,
			filterOn : 'points',
			filter : '',
			pageOptions : [5, 10, 15],
			perPage : 5,
			currentPage : 1,
			isBusy : false,
			fields : [
				{
					key : 'category',
					label : '구분',
					sortable : true,
				},
				{
					key : 'points',
					label : '공헌도',
					sortable : true,
				},
				{
					key : 'title',
					label : '제목',
					sortable : true,
				},
				{
					key : 'name',
					label : '이름',
					sortable : true,
				},
				{
					key : 'time_ago',
					label : '시간',
					sortable : true,
				}
			],
			category : '',
			blockUI : false,
		}
	},
	computed : {
		...mapGetters(['getTotalRows', 'getCategories']),
	},
	created() {
		this.$store.dispatch('FETCH_CATEGORIES');
		bus.$emit('refresh::modal', this.refresh);
	},
	methods : {
		async showModal(id) {
	    	const userParams = {
				id,
			};
	    	
			await this.$store.dispatch('FETCH_USER', userParams);
			this.$root.$emit('bv::show::modal', 'modalArea');
		},
		async items(ctx) {
			const searchParams = {
				category : this.category,
				filterOn : this.filterOn,
				filter : ctx.filter,
				rows : ctx.perPage,
				page : ctx.currentPage,
				sortBy : ctx.sortBy,
				sortDesc : ctx.sortDesc ? 'Desc' : 'Asc',
			};
			
			this.isBusy = true;
			const promise = await this.$store.dispatch('FETCH_LIST', searchParams);
			this.isBusy = false;
			
			return promise;
		},
		searchBtn() {
			this.category = this.$refs.category.$el.value;
			this.filterOn = this.$refs.filterOn.$el.value;
			this.filter = this.$refs.filter.$el.value;
			this.perPage = this.$refs.perPage.$el.value;
			i++;
			this.currentPage += Array(i).join(' ');
		},
		async insertData() {
			const news = await insertNewsUrl();
			const ask = await insertAskUrl();
			const jobs = await insertJobsUrl();
			await axios.all([news, ask, jobs]);
			
			const searchParams = {
				category : '',
				filterOn : 'points',
				filter : '',
				rows : 100,
				page : 1,
				sortBy : 'points',
				sortDesc : 'Desc',
			};
			
			const response = await selectListUrl(searchParams);
			
			const list = JSON.parse(response.data.d);
			for(const idx in list) {
				if(list[idx].name) {
					const userres = await userApiUrl(list[idx].name);
					
					const userParams = {
						about : userres.data.about,
						created_time : userres.data.created_time,
						created : userres.data.created,
						id : userres.data.id,
						karma : userres.data.karma,
					};
					
					await mergeUserUrl(userParams);
				}
			}
				
			for(const idx in list) {
				if(list[idx].id) {
					const itemres = await itemApiUrl(list[idx].id);
					
					const itemParams = {
						comments : '',
						comments_count : itemres.data.comments_count,
						content : itemres.data.content,
						domain : itemres.data.domain,
						id : itemres.data.id,
						points : itemres.data.points,
						time : itemres.data.time,
						time_ago : itemres.data.time_ago,
						title : itemres.data.title,
						type : itemres.data.type,
						url : itemres.data.url,
						users : itemres.data.user,
					};
					
					await mergeItemUrl(itemParams);
				}
			}
			return response;
		},
		async dbInsert() {
			this.isBusy = true;
			await this.insertData();
			this.isBusy = false;
			
			this.refresh();
		},
		refresh() {
			this.$nextTick(function() {
		        this.$refs.table.refresh();
		    });
		},
		selectItem() {
			this.$router.push({path : '/admin/item'});
		}
	},
}
</script>

<style scoped>
</style>
