<template>
	<div>
		<b-modal id="modalArea" @ok="handleOk" @hidden="resetModal" title="User Info">
			<b-overlay :show="blockUI" rounded="lg" opacity="0">
			<b-form ref="form" @submit.prevent="handleSubmit">
				<b-form-group label="Id">
					<b-input-group>
						<b-form-input ref="id" :value="getUser.id" readonly>
						
						</b-form-input>
					</b-input-group>
				</b-form-group>
				<b-form-group label="Created Time" invalid-feedback="Created Time is required" :state="validate.created_time">
					<b-input-group>
						<b-form-input ref="created_time" @keyup.native="onlyNumber($event)" :value="getUser.created_time" required :state="validate.created_time">
						
						</b-form-input>
					</b-input-group>
				</b-form-group>
				<b-form-group label="Created" invalid-feedback="Created is required" :state="validate.created">
					<b-input-group>
						<b-form-input ref="created" :value="getUser.created" required :state="validate.created">
						
						</b-form-input>
					</b-input-group>
				</b-form-group>
				<b-form-group label="Karma" invalid-feedback="Karma is required" :state="validate.karma">
					<b-input-group>
						<b-form-input ref="karma" @keyup.native="onlyNumber($event)" :value="getUser.karma" required :state="validate.karma">
							
						</b-form-input>
					</b-input-group>
				</b-form-group>
				<b-form-group label="About" invalid-feedback="Abount is required" :state="validate.about">
					<b-input-group>
						<b-form-textarea ref="about" :value="getUser.about" required :state="validate.about">
						
						</b-form-textarea>
					</b-input-group>
				</b-form-group>
			</b-form>
			</b-overlay>
			<template v-slot:modal-footer="{ cancel, ok }">
		        <b-button @click="resetModal" :disabled="blockUI">Cancel</b-button>
		        <b-button @click="handleOk" variant="primary" :disabled="blockUI">OK</b-button>
			</template>
		</b-modal>
	</div>
</template>

<script>
import { mapGetters } from 'vuex';
import bus from '../utils/bus.js';
import hackersNewsMixin from '../utils/hackersNewsMixin.js';

export default {
	mixins : [hackersNewsMixin],
	data() {
		return {
			blockUI : false,
			validate : {
				id : null,
				created_time : null,
				created : null,
				karma : null,
				about : null,
			},
		}
	},
	created() {
		this.blockUI = false;
	},
	computed : {
		...mapGetters(['getUser']),
	},
	methods : {
		checkFormValidity() {
			let validateArr = [];
			let valid = false;
			
			valid = this.$refs.created_time.checkValidity();
			this.validate.created_time = valid;
			
			validateArr.push(valid);
			
			valid = this.$refs.created.checkValidity();
			this.validate.created = valid;
			
			validateArr.push(valid);
			
			valid = this.$refs.karma.checkValidity();
			this.validate.karma = valid;
			
			validateArr.push(valid);
			
			valid = this.$refs.about.checkValidity();
			this.validate.about = valid;
			
			validateArr.push(valid);
			
			return validateArr;
	    },
		handleOk(bvModalEvt) {
			// Prevent modal from closing
	        bvModalEvt.preventDefault();
	        // Trigger submit handler
	        this.handleSubmit();
		},
		async handleSubmit() {
			// Exit when the form isn't valid
			if (this.checkFormValidity().indexOf(false) > -1) {
				return;
			}
			
			const userParams = {
				about : this.$refs.about.vModelValue,
				created_time : this.$refs.created_time.vModelValue,
				created : this.$refs.created.vModelValue,
				id : this.$refs.id.vModelValue,
				karma : this.$refs.karma.vModelValue,
			};
			
			const response = await this.$store.dispatch('MERGE_USER', userParams);
			this.blockUI = JSON.parse(response.data.success);
			
			this.resetModal();
			//this.refresh();
			bus.$on('refresh::modal');
		},
		resetModal() {
			this.validate.id = null;
			this.validate.created_time = null;
			this.validate.created = null;
			this.validate.karma = null;
			this.validate.about = null;
			
			this.$root.$emit('bv::hide::modal', 'modalArea');
		},
	}
}
</script>

<style scoped>
</style>
