<template>
	<div>
		<router-view v-if="this.$route.path === '/admin/item'"/>
		<b-container fluid v-else>
			
			<search-component :totalRows="totalRows"/>
			
			<b-table ref="table" show-empty :busy="isBusy" :fields="fields" :items="items" :current-page="currentPage" :per-page="perPage" :sort-by.sync="sortBy" :sort-desc.sync="sortDesc" :filter="filter">
				<template v-slot:table-busy>
					<div class="text-center text-danger my-2">
						<b-spinner class="align-middle"></b-spinner>
						<strong>Loading...</strong>
					</div>
				</template>
				<template v-slot:cell(title)="row">
					<a :href="row.item.url" v-if="row.item.category === 'News' || row.item.category === 'Jobs'">{{ row.item.title }}</a>
					<router-link :to="`/admin/item?id=${id=row.item.id}`" v-else>{{ row.item.title }}</router-link>
				</template>
				<template v-slot:cell(name)="row">
					<div @click="showModal(row.item.name)"><a href="#">{{ row.item.name }}</a></div>
				</template>
			</b-table>
			
			<b-pagination align="center" v-model="currentPage" :total-rows="totalRows" :per-page="perPage"></b-pagination>
			
			<b-row>
				<b-col class="text-left"><b-button @click="selectItem">글쓰기</b-button></b-col>
			</b-row>
			
			<user-component/>
			
		</b-container>
	</div>
</template>

<script>
import bus from '../utils/bus.js';
import SearchComponent from '../components/SearchComponent.vue';
import UserComponent from '../components/UserComponent.vue';
let i = 1;

export default {
	components : {
		SearchComponent,
		UserComponent,
	},
	data() {
		return {
			totalRows : 0,
			sortBy : 'points',
			sortDesc : false,
			filterOn : 'points',
			filter : '',
			pageOptions : null,
			perPage : 5,
			currentPage : 1,
			isBusy : false,
			fields : [
				{
					key : 'category',
					label : '구분',
					sortable : true,
				},
				{
					key : 'points',
					label : '공헌도',
					sortable : true,
				},
				{
					key : 'title',
					label : '제목',
					sortable : true,
				},
				{
					key : 'name',
					label : '이름',
					sortable : true,
				},
				{
					key : 'time_ago',
					label : '시간',
					sortable : true,
				}
			],
			category : '',
			blockUI : false,
		}
	},
	created() {
		this.$store.dispatch('FETCH_CATEGORIES');
		bus.$on('refresh::modal', this.refresh);
		bus.$on('refresh::table', this.refresh);
		bus.$on('props:tableData', data => {
			this.category = data.category;
			this.filterOn = data.filterOn;
			this.filter = data.filter;
			this.perPage = data.perPage;
			this.fields = data.fields;
			this.pageOptions = data.pageOptions;
			i++;
			this.currentPage += Array(i).join(' ');
		});
	},
	methods : {
		async showModal(id) {
	    	const userParams = {
				id,
			};
	    	
			await this.$store.dispatch('FETCH_USER', userParams);
			this.$root.$emit('bv::show::modal', 'modalArea');
		},
		async items(ctx) {
			const searchParams = {
				category : this.category,
				filterOn : this.filterOn,
				filter : ctx.filter,
				rows : ctx.perPage,
				page : ctx.currentPage,
				sortBy : ctx.sortBy,
				sortDesc : ctx.sortDesc ? 'Desc' : 'Asc',
			};
			
			this.isBusy = true;
			const response = await this.$store.dispatch('FETCH_LIST', searchParams);
			this.totalRows = response.data.c;
			this.isBusy = false;
			
			return JSON.parse(response.data.d);
		},
		refresh() {
			this.$nextTick(function() {
		        this.$refs.table.refresh();
		    });
		},
		selectItem() {
			this.$router.push({path : '/admin/item'});
		}
	},
}
</script>

<style scoped>
</style>
